# ビルドされたファイルはreleasesに出すからいらなーい
dist

# これはnpm installできるからいらないね
node_modules

# 絶対いらない
*.DS_Store
src/.DS_Store

# 拡張機能はライセンス的にアレなので
Extension

# その他
other_data/pat-whelen-L8MiKX6o6uI-unsplash.jpeg
src/views/image/cca86928-fdfc-44d7-ae71-418de83f7639.jpeg