:root {
  --text-color: #fff;
  --background-color: #171A19;
  --input-color: #202222;
  --tab-color: #202222;
  --opened-tab-color: #293939;
  --symbol-color: #6E9797;
  --hover-color: #a9fde3;
  --disabled-color: #868686;
}

body {
  background-color: var(--background-color);
  color: var(--text-color);
  margin: 0;
  margin-left: 8px;
  margin-right: 8px;
  height: 60px;
  -webkit-app-region: drag;
}
a {
  -webkit-user-drag: none;
}

nav {
  height: 50%;
  user-select: none;
  cursor: default;
}
nav * {
  -webkit-app-region: no-drag;
}
nav a.right {
  float: right;
  margin-top: 4px;
}
nav a {
  vertical-align:middle; 
}
nav a > svg {
  width: 20px;
  height: auto;
  stroke: var(--symbol-color);
  stroke-width: 3px;
  
  transition: stroke .5s, stroke-width .5s, filter .5s;
}
nav a > svg:hover {
  stroke: color-mix(in srgb, var(--symbol-color), var(--hover-color) 60%);
  stroke-width: 4px;
  filter: drop-shadow(0 0 0.75rem var(--symbol-color));
}
nav a.disabled {
  cursor: default;
}
nav a.disabled > svg {
  stroke: color-mix(in srgb, var(--symbol-color), var(--disabled-color) 80%);
  stroke-width: 2px;
}

nav > div {
  display: inline-block;
  background-color: var(--input-color);
  border: none;
  border-radius: 6px;
  height: 23px;
  width: calc(100% - 28px * 4);
  position:relative;
  top:-0.5px;
  padding: 3px;
}

input[type=text] {
  width: calc(100% - 30px);
  height: auto;
  color: var(--text-color);
  background: none;
  border: none;
  padding: 3px;
  height: 16px;
  line-height: 16px;
  vertical-align: middle; 
  position: relative; 
  top:-2px;
  font-size: 11px;
}
input[type=text]:focus {
  outline: none;
}

#tabs {
  display: flex;
  position: relative;
  padding: 1px;
  margin: 2px;
  margin-right: 160px;
}
#tabs * {
  -webkit-app-region: no-drag;
}
#tabs > span {
  display: flex;
  background-color: var(--tab-color);
  border-radius: 6px;
  position: relative;
  margin: 1px;
  width: 100%;
  min-width: 70px;
  filter: drop-shadow(0 0 0.75rem var(--tab-color));
  overflow: hidden;
  font-size: 0.8em;
  text-align: center;
  padding: 2px;
}
#tabs > span#opened {
  background-color: var(--opened-tab-color);
}
#tabs .title {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  width: calc(100% - 24px);
}

#tabs a {
  height: 20px;
  height: 20px;
  display: inline-block;
}
#tabs a > svg {
  width: 20px;
  height: 20px;
  stroke: color-mix(in srgb, var(--symbol-color), #fff 50%);
  stroke-width: 2px;
  
  transition: stroke .5s, stroke-width .5s, filter .5s;
}
#tabs a:not(.loading) > svg:hover {
  stroke: color-mix(in srgb, var(--symbol-color), var(--hover-color) 60%);
  stroke-width: 3px;
  filter: drop-shadow(0 0 0.75rem var(--symbol-color));
}
#tabs a:not(.close-button).disabled {
  cursor: default;
  opacity: 0;
  display: none;
}
#tabs a:not(.loading).disabled > svg {
  stroke: color-mix(in srgb, var(--symbol-color), var(--disabled-color) 80%);
  stroke-width: 1px;
}

#tabs > span#opened a > svg {
  width: 20px;
  height: 20px;
  stroke: #fff;
  stroke-width: 2px;
  
  transition: stroke .5s, stroke-width .5s, filter .5s;
}

#tabs p {
  margin: 0;
  width: 100%;
}

#tabs > .right {
  transform: translate(0, 10%);
  width: 20px;
  height: 20px;
  margin-left: 2px;
  margin-right: 2px;
}
#tabs span > .right {
  position: absolute;
  top: 50%;
  right: 25px;
  transform: translate(0, -50%);
  width: 64px;
  height: 20px;
}
#tabs a.close-button {
  position: absolute;
  top: 50%;
  right: 3px;
  transform: translate(0, -50%);
  width: 20px;
  height: 20px;
}