:root {
  --text-color: #fff;
  --background-color: #171A19;
  --input-color: #202222;
  --symbol-color: #6E9797;
  --hover-color: #a9fde3;
  --disabled-color: #868686;
}

body {
  background-color: var(--background-color);
  color: var(--text-color);
}

input[type=text] {
  color: var(--text-color);
  background: none;
  border: none;
  padding: 3px;
  vertical-align: middle;
}

input[type=text]:focus {
  outline: none;
}