body {
  background: transparent !important;
  overflow: hidden;
  margin: 0;
  font-size: smaller;
}

body > #toggle {
  background-color: #0006;
  width: 100vw;
  height: 100vh;

  transition:
    background-color 0.2s ease,
    height 0.3s ease;
}
body:has(.hidden) > #toggle {
  background-color: transparent;
  height: 0vh;
}

main {
  padding: 0;
  margin: 0;
  overflow: hidden;
  background-color: var(--background-color);
  width: 100%;
  height: 100vh;
}
main:not(:has(#top)) {
  overflow-x: hidden;
  overflow-y: auto;
  scrollbar-width: thin;
  scrollbar-color: color-mix(in srgb, var(--text-color) 10%, transparent)
    color-mix(in srgb, var(--text-color) 10%, transparent);
}
main:has(#top) {
  position: absolute;
  top: 0;
  right: 1em;
  width: 18em;
  height: max-content;
  max-height: calc(100vh - 16px);
  border: color-mix(in srgb, var(--disabled-color) 10%, transparent) 2px solid;
  border-top: none;
  border-radius: 0 0 calc(0.5em + 8px) calc(0.5em + 8px);

  transition: top 0.8s ease;
}
main:has(#top).hidden {
  top: -100vh;
}

main > div:not(#children-menu) {
  padding: 0.5em;
}
main > div#children-menu > a {
  margin: 0.5em;
}

.menu-item {
  user-select: none;
  -webkit-user-drag: none;
  color: var(--text-color);
  text-decoration: none;
  display: flex;
  justify-content: space-between;
  margin: 0;
  padding: 8px;
  outline: color-mix(in srgb, var(--hover-color) 5%, transparent) 0px solid;
  outline-offset: -1px;
  border-radius: 8px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;

  transition:
    background-color 0.2s linear,
    outline-width 0.3s linear,
    outline-color 0.3s linear;
}
.menu-item:nth-of-type(even) {
  background-color: color-mix(in srgb, var(--text-color) 2%, transparent);
}
.menu-item:not(.is-disabled):hover {
  background-color: color-mix(in srgb, var(--hover-color) 15%, transparent);
  outline-width: 3px;
}
.menu-item:not(.is-disabled):active {
  background-color: color-mix(in srgb, var(--hover-color) 35%, transparent);
  outline-width: 6px;
}
.menu-item:not(.is-disabled):focus {
  outline-color: color-mix(in srgb, #2582cf 35%, transparent);
  outline-width: 2px;
}
.menu-item > .title {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.menu-item > .accel {
  padding-right: 0.5em;
  float: right;
  font-weight: bold;
  color: color-mix(in srgb, var(--text-color) 50%, transparent);
}
.menu-item > svg {
  width: 20px;
  height: 20px;
  stroke-width: 3px;
  float: right;
}
.menu-item.is-disabled {
  color: color-mix(in srgb, var(--text-color) 30%, var(--disabled-color));
  font-style: unset;
  cursor: default;
}

hr {
  border: color-mix(in srgb, var(--disabled-color) 15%, transparent) 2px solid;
  border-radius: 2px;
}

main > div div.header {
  margin: 0.1em;
  margin-left: 0.5em;
  color: color-mix(in srgb, var(--background-color) 60%, var(--disabled-color));
  font-weight: bolder;
}

#children-menu {
  background-color: var(--background-color);
  position: absolute;
  top: 0;
  left: 100%;
  width: 100%;
  height: 100%;
  opacity: 0;

  transition:
    left 0.3s ease,
    opacity 0.3s linear;
}
#children-menu > iframe {
  display: inline-block;
  width: 100%;
  height: 100%;
  border: none;
}
#children-menu.visible {
  opacity: 1;
  left: 0;
}
