@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes fadeOut {
  0% {
    opacity: 1;
  }
  99% {
    opacity: 0;
  }
  100% {
    display: none;
  }
}

:root {
  --tab-color: #202222;
  --opened-tab-color: #293939;
  --tab-adding-color: #2582CF;
}

body {
  margin: 0;
  margin-left: 8px;
  margin-right: 8px;
  height: 60px;
  -webkit-app-region: drag;
}
a {
  -webkit-user-drag: none;
}

/* ナビゲーション */
nav {
  height: 50%;
  user-select: none;
  cursor: default;
}
nav * {
  -webkit-app-region: no-drag;
}
nav a.right {
  float: right;
  margin-top: 4px;
}
nav a {
  vertical-align:middle; 
}
nav a > svg {
  width: 20px;
  height: auto;
  stroke: var(--symbol-color);
  stroke-width: 3px;
  
  transition: stroke .5s, stroke-width .5s, filter .5s;
}
nav a > svg:hover {
  stroke: color-mix(in srgb, var(--symbol-color), var(--hover-color) 60%);
  stroke-width: 4px;
  filter: drop-shadow(0 0 0.75rem var(--symbol-color));
}
nav a.disabled {
  cursor: default;
}
nav a.disabled > svg {
  stroke: color-mix(in srgb, var(--symbol-color), var(--disabled-color) 80%);
  stroke-width: 2px;
}

nav > div {
  display: inline-block;
  background-color: var(--input-color);
  border: none;
  border-radius: 6px;
  height: 23px;
  width: calc(100% - 28px * 4);
  position:relative;
  top:-0.5px;
  padding: 3px;
}

input[type=text] {
  width: calc(100% - 30px);
  height: 16px;
  line-height: 16px;
  position: relative; 
  top:-2px;
  font-size: 11px;
}

/* タブ関連 */
#tabs {
  display: flex;
  position: relative;
  padding: 1px;
  margin: 2px;
  margin-right: 160px;
}
#tabs * {
  -webkit-app-region: no-drag;
}
#tabs > span {
  display: flex;
  background-color: var(--tab-color);
  border-radius: 6px;
  position: relative;
  margin: 1px;
  width: 100%;
  min-width: 70px;
  filter: drop-shadow(0 0 0.75rem var(--tab-color));
  overflow: hidden;
  font-size: 0.8em;
  text-align: center;
  padding: 2px;

  transition: filter .5s, border-right .5s, border-left .5s;
}
#tabs > span#opened {
  background-color: var(--opened-tab-color);
}
#tabs img.favicon {
  width: 20px;
  height: 20px;
  aspect-ratio: 1 / 1;
  display: inline-block;
}
#tabs .title {
  margin-left: 0.8em;
  margin-right: 0.8em;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  width: calc(100% - 48px);
}
#tabs span:not(:has(.right .downloading.disabled)):has(.right .audible.disabled) .title,
#tabs span:not(:has(.right .audible.disabled)):has(.right .downloading.disabled) .title
 {
  width: calc(100% - 72px);
}
#tabs span:not(:has(.right .disabled)) .title {
  width: calc(100% - 96px);
}
#tabs > span.adding-left {
  border-left: solid 3px var(--tab-adding-color);
  filter: drop-shadow(-2em 0 0.75rem var(--tab-adding-color));
}
#tabs > span.adding-right {
  border-right: solid 3px var(--tab-adding-color);
  filter: drop-shadow(2em 0 0.75rem var(--tab-adding-color));
}

#tabs a {
  height: 20px;
  height: 20px;
  display: inline-block;
  transition: all .5s;

  animation-name: fadeIn;
  animation-duration: .2s;
  animation-fill-mode: forwards;
}
#tabs a > svg {
  width: 20px;
  height: 20px;
  stroke: color-mix(in srgb, var(--symbol-color), #fff 50%);
  stroke-width: 2px;
  
  transition: stroke .5s, stroke-width .5s, filter .5s;
}
#tabs a:not(.close-button).disabled {
  cursor: default;

  animation-name: fadeOut;
  animation-duration: .1s;
  animation-fill-mode: forwards;
}

#tabs > span#opened a > svg {
  width: 20px;
  height: 20px;
  stroke: #fff;
  stroke-width: 2px;
  
  transition: stroke .5s, stroke-width .5s, filter .5s;
}

#tabs p {
  margin: 0;
  width: 100%;
}

#tabs > .right {
  transform: translate(0, 10%);
  width: 20px;
  height: 20px;
  margin-left: 2px;
  margin-right: 2px;
}
#tabs span > .right {
  text-align: right;
  position: absolute;
  top: 50%;
  right: 25px;
  transform: translate(0, -50%);
  width: 64px;
  height: 20px;
}
#tabs a.close-button {
  position: absolute;
  top: 50%;
  right: 3px;
  transform: translate(0, -50%);
  width: 20px;
  height: 20px;
}