@charset "utf-8";

/* Flune-Browserのデフォルトテーマです。 */
/* CSSバージョン：1 */

:root {
    /* メインカラー */
    --flune-main-background: #252525;
    --flune-main-color: #fafafa;

    /* アクセントカラー */
    --flune-accent-color-hover: #89f4cb;
    --flune-accent-color: #75e3b8;
    --flune-active-tab-color: #303e3c;
    --flune-active-tab-hover-color: #28433d;

    /* シャドーカラー */
    --flune-main-shadow-color: #2e2e2e94;

    /* ホーム画面系 */
    --flune-home-background: url("../image/dune.jpeg");
    --flune-home-panel-color: #1e1e1e8a;

    /* ボーダー関連 */
    /* --flune-main-border-radiusはFlune-Browser 2.4.0 Beta 2から追加されました。 */
    --flune-main-border-color: #2b2b2b;
    --flune-main-border-radius: 5px;

    /* その他 */
    --flune-main-hover-color: #2c2c2c;
    --flune-nav-search-background: #00000000;
    --flune-main-blur: 5px;
}