@charset "utf-8";

/* Flune-Browserのデフォルトテーマです。 */
/* CSSバージョン：0 */

:root {
    /* メインカラー */
    --flune-main-background: #252525;
    --flune-main-color: #fafafa;

    /* アクセントカラー */
    --flune-accent-color-hover: #00ff9d;
    --flune-accent-color: #00ff9d;
    --flune-active-tab-color: #144f48;
    --flune-active-tab-hover-color: #154539;

    /* シャドーカラー */
    --flune-main-shadow-color: #25252594;

    /* ホーム画面系 */
    --flune-home-background: url("../views/image/dune.jpeg");
    --flune-home-panel-color: #1e1e1e8a;

    /* ボーダー関連 */
    /* --flune-main-border-radiusはFlune-Browser 2.4.0 Beta 2から追加されました。 */
    --flune-main-border-color: #373737;
    --flune-main-border-radius: 5px;

    /* その他 */
    --flune-main-hover-color: #2c2c2c;
    --flune-nav-search-background: #00000000;
}