@charset "utf-8";

/* Flune-Browser公式のStylishテーマです。 */
/* CSSバージョン：1 */

:root {
  /* メインカラー */
  --flune-main-background: url("../../other_data/cca86928-fdfc-44d7-ae71-418de83f7639.jpeg");
  --flune-main-color: #dadada44;

  /* アクセントカラー */
  --flune-accent-color-hover: #a7a7a744;
  --flune-accent-color: #93939344;
  --flune-active-tab-color: #ededed29;
  --flune-active-tab-hover-color: #e6e6e640;

  /* シャドーカラー */
  --flune-main-shadow-color: #d2d2d200;

  /* ホーム画面系 */
  --flune-home-background: url("../../other_data/john-towner-3Kv48NS4WUU-unsplash.jpeg");
  --flune-home-panel-color: #ededed29;

  /* ボーダー関連 */
  /* --flune-main-border-radiusはFlune-Browser 2.4.0 Beta 2から追加されました。 */
  --flune-main-border-color: #b3b3b379;
  --flune-main-border-radius: 5px;

  /* その他 */
  --flune-main-hover-color: #dadada;
  --flune-nav-search-background: #ededed29;
  --flune-main-blur: 5px;
}