@charset "utf-8";

/* Flune-Browserのデフォルトテーマです。 */
/* CSSバージョン：1 */

:root {
    /* メインカラー */
    --flune-main-background: #ebebeb;
    --flune-main-color: #4e4e4e;

    /* アクセントカラー */
    --flune-accent-color-hover: #24a573;
    --flune-accent-color: #24a573;
    --flune-active-tab-color: #e3f3ed;
    --flune-active-tab-hover-color: #c6e8dc;

    /* シャドーカラー */
    --flune-main-shadow-color: #d2d2d294;

    /* ホーム画面系 */
    --flune-home-background: url("../views/image/sean-oulashin-KMn4VEeEPR8-unsplash.jpeg");
    --flune-home-panel-color: #d2c3b263;

    /* ボーダー関連 */
    /* --flune-main-border-radiusはFlune-Browser 2.4.0 Beta 2から追加されました。 */
    --flune-main-border-color: #bebebe79;
    --flune-main-border-radius: 5px;

    /* その他 */
    --flune-main-hover-color: #dddddd;
    --flune-nav-search-background: #00000000;
    --flune-main-blur: 5px;
}