@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@100&display=swap');

body {
    -webkit-app-region: drag;
    background: #dfdfdf;
    color: #242424;
    margin: 0em;
    font-family: 'Noto Sans JP', sans-serif;
}

.menu {
    margin-top: 0em;
    height: 20px;
    width: 100%;
    background-color: #dfdfdf;
    position: relative;
}

.menu > ul {
    display: flex;
    justify-content: right;
    align-items: center;
    list-style: none;
    display: flex;
    margin: 0.2em;
    padding: 0.4em;
}

.menu > ul > li {
    -webkit-app-region: none;
    list-style: none;
    -webkit-app-region: no-drag;
}

.menu > ul > li > a {
    display: block;
    text-decoration: none;
    color: black;
    margin-right: 15px;
}

input[type = 'text'] {
    background: #eeeeee;
    border: none;
    width: 50%;
    border-radius: 10px;
    height: 12px;
    color: #141414;
    outline: 0;
    padding: 0.5em;
    font-family: 'Noto Sans JP', sans-serif;
    -webkit-app-region: no-drag;
}

#secrity_icon {
    font-size: 1.4em;
}

tab-el{
    margin: 1em;
    margin-bottom: 0em;
    height: auto;
    vertical-align: middle;
    display: flex;
    overflow: hidden;
}
tab-el>div{
    height: 30px;
    width: 100%;
    overflow: auto;
    display: flex;
}
tab-el>div>span{
    min-width: 70px;
    overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
    padding-right: 20px;
    padding-left: 5px;
    width: 100%;
    margin: 5px;
    margin-top: 2px;
    text-align: center;
    padding: 2px;
    padding-right: 15px;
    font-size: 12px;
    -webkit-font-smoothing: antialiased;
    border-radius: 10px;
    border: 1px solid #ddd0;
    transition: all 0.2s ease-in-out;
    cursor: default;
    -webkit-app-region: none;
    background-color: #dbdbdb;
}
tab-el>div>span>a{
    text-decoration: none;
    color: #1d1d1d;
}
tab-el>a{
    display: block;
    height: 24px;
    width: 24px;
    margin: 3px;
    aspect-ratio: 1/1;
    background-position: center;
    background-size: 80%;
    background-repeat: no-repeat;
    border-radius: 10px;
    background-color: #fff0;
    box-shadow: 1px 1px 5px #fff0;
    border: 1px solid #fff0;
    transition: all 0.2s ease-in-out;
    -webkit-app-region: none;
    cursor: default;
    text-decoration: none;
    color: #0c0c0c;
}

#opened {
    background-color: #e9e9e9;
}