:root {
  --text-color: #fff;
  --background-color: #171A19;
  --input-color: #202222;
  --symbol-color: #6E9797;
  --hover-color: #a9fde3;
  --disabled-color: #868686;
  
  --tab-color: #202222;
  --opened-tab-color: #293939;
  --tab-adding-color: #2582CF;
  --tab-text-color: #fff;
  
  --panel-color: #111111a1;
  --background-image: url(flune://assets/image/backgrounds/keith-camilleri-sV_3SBuiS4I-unsplash.jpg);
}