<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Flune-Browserについて</title>
    <link href="flune://style/style.css" rel="stylesheet"/>
    <link href="flune://style/style_home.css" rel="stylesheet"/>
    <link href="flune://style/style_setting.css" rel="stylesheet"/>
    <link href="flune://style/dark_theme.css" rel="stylesheet" id="default_theme"/>
    <link href="" rel="stylesheet" id="theme"/>
  </head>
  <body style="padding: 2em;">
    <h1 style="display: inline-block;">Flune-Browser</h1>&nbsp;<h2 style="display: inline-block;">について</h2>
    <br/>
    <table>
      <tr>
        <th>バージョン</th>
        <td>2.2.0</td>
      </tr>
      <tr>
        <th>開発者</th>
        <td>mf7cli</td>
      </tr>
      <tr>
        <th>バグ情報</th>
        <td><a href="https://github.com/Mf-3d/Flune-Browser/issues">GitHub Issues</a></td>
      </tr>
    </table>
  </body>
</html>