<!DOCTYPE html>
<html>
    <head>
        <title>Home - Flune-Browser 2.3.0</title>
        <link href="../style/style.css" rel="stylesheet"/>
        <link href="../style/style_home.css" rel="stylesheet"/>
        <link href="../style/theme/dark_theme.css" rel="stylesheet" id="default_theme"/>
        <link href="" rel="stylesheet" id="theme"/>
        <script>
            function search() {
                window.flune_api.searchURL(document.getElementById("address_bar").value);
                document.querySelector("#address_bar").value = "";
            }

            window.onload = async () => {
                document.addEventListener('keydown', (e) => {
                    if (e.target === document.getElementById('address_bar')) {
                        const word = document.getElementsByTagName('input')[0].value;
                        if (!e.isComposing && e.key === 'Enter' && word != null) {
                            window.flune_api.searchURL(document.getElementById("address_bar").value);
                        }
                    }
                });

                document.getElementById('theme').href = await window.flune_api.theme_path();
            }
        </script>
    </head>
    <body>
        <div>
            <h1 style="display: inline-block; user-select: none;">Flune-Browser</h1>
            2.3.0
            <br/>
            <span id="address_box">
                <input type="text" id="address_bar" placeholder="検索するURLを入力" style="-webkit-app-region: no-drag;"/>
                <a href="javascript:search()" class="border">🔍</a>
            </span>
            <br/>
            <div id="shortcut">
            </div>
        </div>
    </body>
</html>