<!DOCTYPE html>
<html>
    <head>
        <title>Home - Flune-Browser 2.0.0</title>
        <link href="../style/style.css" rel="stylesheet"/>
        <link href="../style/style_home.css" rel="stylesheet"/>
        <script>
            function search() {
                window.flune_api.searchURL(document.getElementById("search_bar").value);
                document.querySelector("#search_bar").value = "";
            }
        </script>
    </head>
    <body>
        <h1 style="display: inline-block; user-select: none;">Flune-Browser</h1>
        2.0.0
        <br/>
        <input type="text" id="search_bar" placeholder="検索するURLを入力"/>
        <h1 style="display: inline-block; font-size: 3em; user-select: none;" onclick="search()"><a>&gt;</a></h1>
    </body>
</html>