
<!doctype html>
<html>
    <head prefix="og: http://ogp.me/ns# fb: http://ogp.me/ns/fb# website: http://ogp.me/ns/website#">
    <meta property="og:url" content="https://bbs.mf7cli.potp.me"/>
    <meta property="og:type" content="article"/>
    <meta property="og:title" content="Login"/>
    <meta property="og:description" content="ここはmf7cliさんの掲示板です。"/>
    <meta property="og:image" content="https://bbs.mf7cli.potp.me/image/logo"/>
    <meta property="og:site_name" content="mf7cli-BBS" />
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Login - mf7cli-BBS</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="https://bbs.mf7cli.potp.me/style/style.css">
    <script>
      window.onload = () => {
        document.body.classList.remove("preload");

        flune_login_api.on((event, message) => {
          document.getElementById('status').innerHTML = `ログインできませんでした: ${message}`;
        });
        async function login() {
          if(!document.getElementById('submit_id').value || !document.getElementById('submit_password').value){ 
            document.getElementById('status').innerHTML = 'IDとパスワードを入力してください。';
            return;
          }

          document.getElementById('status').innerHTML = '';
          await window.flune_login_api.login([document.getElementById('submit_id').value, document.getElementById('submit_password').value]);
        }

        document.getElementById('submit').onclick = login;
      }
    </script>
  </head>
  <body class="preload">
    <div id="columnsBox">
      <header>
        <div class="toggle_switch" id="theme_switch" style="display: inline-block; _display: inline;">
            <input type="checkbox" id="cb_toggle_switch" checked/>
            <label for="cb_toggle_switch"></label>
        </div>
        <script src="https://twemoji.maxcdn.com/v/latest/twemoji.min.js" crossorigin="anonymous"></script>
        <script>
          const prefersColorSchemeDark = matchMedia(
            '(prefers-color-scheme: dark)'
          ).matches;

          console.log(localStorage.getItem("theme"));
          
          if (localStorage.getItem("theme") === "dark") {
            document.body.className = 'dark';
            document.getElementById("cb_toggle_switch").checked = false;
            localStorage.setItem('theme', 'dark');
          } else if(localStorage.getItem("theme") === "light") {
            document.body.className = '';
            document.getElementById("cb_toggle_switch").checked = true;
            localStorage.setItem('theme', 'light');
          }
          else {
            document.body.className = 'dark';
            document.getElementById("cb_toggle_switch").checked = false;
            localStorage.setItem('theme', 'dark');
          }
          
          document.getElementById("cb_toggle_switch").onchange = () => {
            console.log("ライトかどうか:",document.getElementById("cb_toggle_switch").checked)
            if (document.getElementById("cb_toggle_switch").checked === false) {
              document.body.className = 'dark';
              localStorage.setItem('theme', 'dark');
            } 
            else if(document.getElementById("cb_toggle_switch").checked === true) {
              document.body.className = '';
              localStorage.setItem('theme', 'light');
            }
          }
        </script>
      </header>
      <h1 style="display: inline-block;">mf7cli-BBS (alpha)</h1>
      <br/>
      <main>
        <a href="/">Home</a>
        <h2>login</h2>
        <ul>
          <span id="status"></span>
          <br/><br/>
          Flune-Browserを同期するにはmf7cli-BBSアカウントにログインしてください。
          <form id="login_form" name="login_form">
            <input type="text" min="5" placeholder="IDを入力してください。" id="submit_id" name="submit_id"/>
            <br/>
            <input type="password" min="8" placeholder="パスワードを入力してください。" id="submit_password" name="submit_id"/>
            <br/>
            <input type="button" id="submit" value="送信"/>
          </form>
          まだアカウントをお持ちではないですか？<a href="https://bbs.mf7cli.potp.me/register">Register</a>
          <br/>
          <br/>
          ログインできない場合<br/>
          <ul>
            <li>メール認証を済ませているか確認してください。</li>
          </ul>
        </ul>
      </main>
      
      <footer>
        <small>&copy; mf7cli 2022</small>
<small><a href="https://bbs.mf7cli.potp.me/tos">Term of Service</a></small>
      </footer>
    </div>
  </body>
</html>