<!DOCTYPE html>
<html>
    <head>
        <title>Flune-Browser 2.0.0</title>
        <link href="../style/style.css" rel="stylesheet"/>
        <link href="../style/dark_theme.css" rel="stylesheet" id="default_theme"/>
        <link href="" rel="stylesheet" id="theme"/>
        <script src="./script/menu.js"></script>
        <script>
        </script>
    </head>
    <body style="user-select: none; -webkit-app-region: drag;">
        <nav>
            <a href="javascript:go_back()" class="border">&lt;</a>
            <a href="javascript:go_forward()" class="border">&gt;</a>
            <a href="javascript:reload()" class="border">↻</a>
            <input type="text" id="address_bar" placeholder="検索するURLを入力" style="-webkit-app-region: no-drag;"/>
            <a href="javascript:search()" class="border">&gt;</a>
            <a href="javascript:toggle_setting()" class="border">⚙</a>
        </nav>
        <div id="tabs" style="-webkit-app-region: no-drag;">
            <span>
                <div id="active"><a class="title">Home - Flune-Browser 2.0.0</a><a class="close_button">×</a></div>
            </span>
            <a id="new_tab" class="border" style="margin-left: 0.5em;">+</a>
        </div>
    </body>
</html>