<!DOCTYPE html>
<html>
    <head>
        <title>Home - Flune-Browser 2.0.0</title>
        <link href="../style/style.css" rel="stylesheet"/>
        <link href="../style/style_home.css" rel="stylesheet"/>
        <link href="../style/style_setting.css" rel="stylesheet"/>
        <link href="../style/dark_theme.css" rel="stylesheet" id="default_theme"/>
        <link href="" rel="stylesheet" id="theme"/>
        <script>
            function search() {
                window.flune_api.searchURL(document.getElementById("search_bar").value);
                document.querySelector("#search_bar").value = "";
            }

            function save() {
                let theme_select = document.getElementById('theme_select').theme;
                let checkValue;

                for(let i = 0; i < theme_select.length; i++){
                    if(theme_select[i].checked){
                        checkValue = theme_select[i].id;
                    }
                }

                window.flune_api.save_setting({
                    force_twemoji: document.getElementById("force_twemoji").checked,
                    auto_theme: document.getElementById("auto_theme").checked,
                    theme: checkValue
                });
            }

            window.onload = async () => {
                document.getElementById('theme').href = await window.flune_api.theme_path();
                let setting = await window.flune_api.get_setting();
                document.getElementById(setting.theme).checked = true;
                document.getElementById('force_twemoji').checked = setting.force_twemoji;
                document.getElementById('auto_theme').checked = setting.auto_theme;
            }
        </script>
    </head>
    <body>
        <h1 style="display: inline-block; user-select: none;">Flune-Browser</h1>
        2.0.0
        <br/>
        <h2>見た目</h2>
        <form id="theme_select">
            <label>テーマ:</label><input type="radio" id="theme_dark" name="theme"/><label for="theme_dark">Dark</label><input type="radio" id="theme_light" name="theme"/><label for="theme_light">Light</label>
        </form>
        <label for="force_twemoji">強制Twimoji変換:</label><input type="checkbox" id="force_twemoji"/>
        <h2>実験的な機能</h2>
        <!-- <label for="auto_theme">自動テーマ切り替え:</label><input type="checkbox" id="auto_theme"/> -->
        <br/><br/><br/><br/>
        <footer>
            <a href="javascript:save()">保存</a>
        </footer>
    </body>
</html>