:root {
    --flune-main-background: #ebebeb;
    --flune-main-color: #4e4e4e;
    --flune-main-border-color: #8b8b8b79;
    --flune-accent-color: #24a573;
    --flune-active-tab-color: #e3f3ed;
    --flune-active-tab-hover-color: #c6e8dc;
    --flune-main-shadow-color: #d2d2d294;
    --flune-main-hover-color: #dddddd;
    --flune-home-background: url("../views/image/sean-oulashin-KMn4VEeEPR8-unsplash.jpeg");
    --flune-home-panel-color: #d2c3b263;
}