@charset "utf-8";
/* @import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@200&display=swap'); */
/* @import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@100&display=swap'); */
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@300&display=swap');

body {
  background: var(--flune-main-background);
  color: var(--flune-main-color);
  font-family: 'Noto Sans JP', sans-serif;
  margin-top: 0.1em;
  font-size: 0.9em;
}

a {
  display: inline-block;
  color: var(--flune-accent-color);
  cursor: pointer;
  text-decoration: none;
  -webkit-app-region: no-drag;
}

a:hover {
  color: var(--flune-accent-color-hover);
}

#tabs {
  width: 100%;
  display: flex;
  /* background: linear-gradient(70deg, #41d0bd, #00ff9d); */
  border-radius: 5px;
  position: relative;
  top: 3px;
  padding: 1px;
}

#tabs > span {
  width: 100%;
  display: flex;
}

#tabs > span > div {
  display: inline-block;
  position: relative;
  background: var(--flune-main-background);
  border-radius: 5px;
  padding: 1px;
  margin: 1px;
  width: 100%;
  box-shadow: var(--flune-main-shadow-color) 1px 1px 5px 2.5px;
  border: var(--flune-main-border-color) solid 1px;
  overflow-x: hidden;
  font-size: 0.7em;
  transition: all 0.1s ease;
}

#tabs > span > div:hover {
  background: var(--flune-main-hover-color);
}

#tabs > span > div.active:hover {
  background: var(--flune-active-tab-hover-color);
}

#tabs .title {
  text-align: center;
  overflow-x: hidden;
  width: calc(100% - 4em);
  text-overflow: ellipsis;
  white-space: nowrap;
}

.close_button {
  position: absolute;
  right: 0.5em;
  width: 15px;
}

.audible {
  position: absolute;
  right: 3.0em;
  width: 15px;
  color: var(--flune-accent-color);
  opacity: 0;
  transition: all 0.5s;
}

.audible.active {
  opacity: 1;
}

#tabs > span > div.active {
  background: var(--flune-active-tab-color);
}

nav {
  padding-left: 4em;
}

input[type="text"] {
  outline: none;
  /* height: 0.7em; */
  border: none;
  color: var(--flune-main-color);
  font-family: 'Montserrat', 'Noto Sans JP', sans-serif;
  background: var(--flune-main-background);
  padding: 0;
  margin: 0;
  margin-top: 0em;
  font-size: 1.0em;
  width: calc(100% - 5em);
}

#address_box > a {
  text-align: right;
}

#address_box {
  /* display: inline-block; */
  font-size: 0.7em;
  border-radius: 5px;
  padding: 0em;
  background: var(--flune-main-background);
  border: solid 1px var(--flune-main-border-color);
  width: calc(100% - 15em);
}

.close_button {
  margin-left: 1em;
}

nav > a.border {
  padding-right: 0.5em;
  padding-left: 0.5em;
  font-size: 0.8em;
}

a.border {
  padding-right: 0.5em;
  padding-left: 0.5em;
  transition: all 0.5s;
}

nav > a {
  transition: all 0.2s;
}

.border:hover {
  background: var(--flune-main-hover-color);
  border-radius: 2px;
}

#bookmark {
  color: var(--flune-main-border-color);
  transition: all 0.3s;
}

#bookmark.active {
  color: var(--flune-accent-color);
}

nav {
  display: flex;
  padding-top: 0.1em;
}