@charset "utf-8";

html {
  scroll-behavior: smooth;
}

body {
  background-image: var(--flune-home-background);
  background-size: cover;
  background-attachment: fixed;
  text-align: center;
  margin-top: 10%;
  color: var(--flune-main-color);
  text-shadow: #4c7a6a79 1px 1px 10px;
}

h1 {
  background: linear-gradient(70deg, #41d0bd, #00ff9d);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

/* input[type="text"] {
  background: var(--flune-home-panel-color);
  border: solid 1px var(--flune-main-border-color);
  backdrop-filter: blur(0px);
  border-radius: 25px;
  font-size: 1.5em;
  padding: 0.5em;
  width: 80%;
  color: var(--flune-main-color);
  font-family: 'Montserrat', 'Noto Sans JP', sans-serif;
} */

body > div {
  margin-left: auto;
  margin-right: auto;
  width: 60%;
  background: var(--flune-home-panel-color);
  border: solid 1px var(--flune-main-border-color);
  border-radius: 10px;
  backdrop-filter: blur(5px);
  box-shadow: 5px 5px 20px 5px #48484827;
}

#shortcut {
  text-align: center;
  display: flex;
  padding: 2em;
  margin-left: auto;
  margin-right: auto;
  width: 60%;
}

#shortcut a {
  margin-left: auto;
  margin-right: auto;
}

#shortcut a img {
  width: 40px;
  border-radius: 10px;
}

#address_box {
  width: 50%;
  font-size: 1.5em;
  border-radius: 10px;
  border: solid 1px var(--flune-main-border-color);
  backdrop-filter: blur(0px);
  background: var(--flune-home-panel-color);
}

input[type="text"] {
  width: 50%;
  margin: 0.1em;
  background: none;
}

#address_box > a {
  border-radius: 10px;
}

#address_box > a:hover {
  background: var(--flune-home-panel-color);
}