@charset "utf-8";
/* @import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@200&display=swap'); */
/* @import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@100&display=swap'); */
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@300&display=swap');

body {
  background: var(--flune-main-background);
  color: var(--flune-main-color);
  font-family: 'Noto Sans JP', sans-serif;
  margin-top: 0.1em;
  font-size: 0.9em;
}

a {
  display: inline-block;
  color: var(--flune-accent-color);
  cursor: pointer;
  text-decoration: none;
  -webkit-app-region: no-drag;
}

a:hover {
  color: var(--flune-accent-color-hover);
}

#tabs {
  width: 100%;
  display: flex;
  /* background: linear-gradient(70deg, #41d0bd, #00ff9d); */
  border-radius: var(--flune-main-border-radius);
  position: relative;
  top: 3px;
  padding: 1px;
}

#tabs > span {
  width: 100%;
  display: flex;
}

#tabs > span > div {
  display: inline-block;
  position: relative;
  background: var(--flune-main-background);
  border-radius: var(--flune-main-border-radius);
  padding: 1px;
  margin: 1px;
  width: 100%;
  box-shadow: var(--flune-main-shadow-color) 1px 1px 5px 2.5px;
  border: var(--flune-main-border-color) solid 1px;
  overflow-x: hidden;
  font-size: 0.7em;
  transition: all 0.1s ease;
}

#tabs > span > div:hover {
  background: var(--flune-main-hover-color);
}

#tabs > span > div.active:hover {
  background: var(--flune-active-tab-hover-color);
}

#tabs .title {
  margin-left: 1em;
  text-align: center;
  overflow-x: hidden;
  width: calc(100% - 8em);
  text-overflow: ellipsis;
  white-space: nowrap;
}

.loading {
  position: absolute;
  left: 0.5em;
  width: 1em;
  height: 1.7em;
  opacity: 0;
}
.loading.active {
  animation: 1s ease-in-out infinite rotation;
  transition: 0.5s;
  opacity: 1;
}

@keyframes rotation{
  0%{ transform:rotate(0);}
  100%{ transform:rotate(360deg); }
}

.close_button {
  position: absolute;
  right: 0.5em;
  width: 15px;
}

.audible {
  position: absolute;
  right: 3.0em;
  width: 15px;
  color: var(--flune-accent-color);
  opacity: 0;
  transition: all 0.5s;
}

.audible.active {
  opacity: 1;
}

#tabs > span > div.active {
  background: var(--flune-active-tab-color);
}

nav:not(#blank) {
  padding-left: 4em;
}

input[type="text"] {
  outline: none;
  /* height: 0.7em; */
  border: none;
  color: var(--flune-main-color);
  font-family: 'Montserrat', 'Noto Sans JP', sans-serif;
  background: #0000;
  padding: 0;
  margin: 0;
  margin-top: 0em;
  font-size: 1.0em;
  width: calc(100% - 5em);
}

#address_box > a {
  text-align: right;
}

#address_box {
  /* display: inline-block; */
  font-size: 0.7em;
  border-radius: var(--flune-main-border-radius);
  padding: 0em;
  background: var(--flune-nav-search-background, #00000000);
  border: solid 1px var(--flune-main-border-color);
  width: calc(100% - 5em);
}

.close_button {
  margin-left: 1em;
}

nav > a.border {
  padding-right: 0.7em;
  padding-left: 0.7em;
  font-size: 0.8em;
}

a.border {
  padding-right: 0.5em;
  padding-left: 0.5em;
  transition: all 0.5s;
}

nav > a {
  transition: all 0.2s;
}

.border:hover {
  background: var(--flune-main-hover-color);
  border-radius: 2px;
}

#bookmark {
  color: var(--flune-main-border-color);
  transition: all 0.3s;
}

#bookmark.active {
  color: var(--flune-accent-color);
}

nav:not(#blank) {
  display: flex;
  padding-top: 0.1em;
}

#blank {
  width: 1em;
  height: 1.2em;
  display: inline-block;
}

.favicon {
  height: 1.2em;
  width: 1.2em;
  margin-left: 0.5em;
}

.downloading {
  position: relative;
  right: -1.5em;
  opacity: 0;
  transition: all 0.5s;
}

.downloading.active {
  opacity: 1;
}

.downloading.audibleActive {
  right: 0em;
}

#n_forward {
  /* background-image: url('../views/image/navigation/forward.svg'); */
  background-size: 1em 1em;
  background-repeat: no-repeat;
  background-position: 0.5em 0.5em;
  fill: var(--flune-accent-color);
  padding-left: 0.2em;
  padding-right: 0.2em;
}

#n_back {
  /* background-image: url('../views/image/navigation/back.svg'); */
  background-size: 1em 1em;
  background-repeat: no-repeat;
  background-position: 0.5em 0.5em;
  fill: var(--flune-accent-color);
  padding-left: 0.2em;
  padding-right: 0.2em;
}

#n_reload {
  /* background-image: url('../views/image/navigation/reload.svg'); */
  background-size: 0.8em 0.8em;
  background-repeat: no-repeat;
  background-position: 0.3em 0.4em;
  padding-left: 0.2em;
  padding-right: 0.2em;
  /* padding-right: 0.75em; */
}

#n_forward path {
  fill: var(--flune-accent-color);
  stroke: var(--flune-accent-color);
}

#n_back path {
  fill: var(--flune-accent-color);
  stroke: var(--flune-accent-color);
}

#n_reload path {
  fill: var(--flune-accent-color);
  stroke: var(--flune-accent-color);
}

#home-button {
  /* background-image: url('../views/image/navigation/reload.svg'); */
  margin-right: 1em;
  margin-left: 0em;
  padding-left: 0.2em;
  padding-right: 0.2em;
  /* padding-right: 0.75em; */
  font-size: 0.7em;
}