body {
  background-image: url("../views/image/dune.jpeg");
  background-size: cover;
  background-attachment: fixed;
  text-align: center;
  margin-top: 10em;
  color: #c2c2c2;
  text-shadow: #4c7a6a79 1px 1px 10px;
}

h1 {
  background: linear-gradient(70deg, #41d0bd, #00ff9d);
  background: -webkit-linear-gradient(70deg, #41d0bd, #00ff9d);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

input[type="text"] {
  background: #38383856;
  border: solid 1px #4747478d;
  backdrop-filter: blur(10px);
  border-radius: 25px;
  font-size: 1.5em;
  padding: 0.5em;
  width: 80%;
  color: #fafafa;
  font-family: 'Montserrat', 'Noto Sans JP', sans-serif;
}

body > div {
  margin-left: auto;
  margin-right: auto;
  width: 60%;
  background: #1e1e1e8a;
  border: solid 1px #2e2e2e8d;
  border-radius: 10px;
  backdrop-filter: blur(1px);
  box-shadow: 5px 5px 20px 5px #48484827;
}

#shortcut {
  text-align: center;
  display: flex;
  padding: 2em;
  margin-left: auto;
  margin-right: auto;
  width: 60%;
}

#shortcut a {
  margin-left: auto;
  margin-right: auto;
}

#shortcut a img {
  width: 40px;
  border-radius: 10px;
}