/* @import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@200&display=swap'); */
/* @import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@100&display=swap'); */
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@300&display=swap');

body {
  background: #252525;
  color: #fafafa;
  font-family: 'Noto Sans JP', sans-serif;
  margin-top: 0.1em;
  font-size: 0.9em;
}

a {
  display: inline-block;
  background: linear-gradient(70deg, #41d0bd, #00ff9d);
  background: -webkit-linear-gradient(70deg, #41d0bd, #00ff9d);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  cursor: pointer;
  text-decoration: none;
}

#tabs {
  width: 100%;
  display: flex;
  /* background: linear-gradient(70deg, #41d0bd, #00ff9d); */
  border-radius: 5px;
  position: relative;
  top: 3px;
  padding: 1px;
}

#tabs > span {
  width: 100%;
  display: flex;
}

#tabs > span > div {
  display: inline-block;
  position: relative;
  background: #262626;
  border-radius: 5px;
  padding: 1px;
  margin: 1px;
  width: 100%;
  text-align: center;
  box-shadow: #25252594 1px 1px 5px 2.5px;
  border: #373737 solid 1px;
  overflow-x: hidden;
  font-size: 0.7em;
  transition: all 0.1s ease;
}

#tabs > span > div:hover {
  background: #2c2c2c;
}

#tabs > span > div#active:hover {
  background: #154539;
}

#tabs .title {
  overflow-x: hidden;
  width: 75%;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.close_button {
  position: absolute;
  right: 0.5em;
  background-color: #004b2e;
  width: 15px;
}

#tabs > span > div#active {
  background: #144f48;
}

#new_tab {
  display: inline-block;
  /* background: none; */
  /* -webkit-background-clip: unset;
  -webkit-text-fill-color: unset; */
  cursor: pointer;
}

nav {
  padding-left: 4em;
}

input[type="text"] {
  outline: none;
  height: 0.9em;
  border-radius: 5px;
  border: solid 1px #585858;
  background: #252525;
  color: #fafafa;
  font-family: 'Montserrat', 'Noto Sans JP', sans-serif;
  width: 50%;
  font-size: 0.8em;
  padding: 0.2em;
}

.close_button {
  margin-left: 1em;
}

nav > a#border {
  border-left: #515151 solid 1px;
  padding-right: 0.5em;
  padding-left: 0.5em;
  font-size: 0.8em;
}

nav > a {
  transition: all 0.5s;
}

a:hover {
  background: linear-gradient(70deg, #dffffb, #00bfff);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}