@charset "utf-8";

nav {
  /* padding-left: 1em; */
}

#address_box {
  width: calc(100% - 18em);
}

#titlebar_button {
  text-align: right;
  position: absolute;
  right: 0;
}

#titlebar_button > a {
  color: var(--flune-main-color);
  border-radius: 0px;
}

#titlebar_button > a:hover {
  background: #7c7c7c2f;
  /* background: var(--flune-accent-color); */
}

#titlebar_button > a:nth-child(3):hover {
  background: #ff00008f;
}