name: Build and release electron installer
on:
push:
  tags:
    - 'v*'

jobs:
release:
  runs-on: ${{ matrix.os }}

  strategy:
    matrix:
      # os: [macos-latest, windows-latest]
      os: [windows-latest]

  steps:
    - name: Check out Git repository
      uses: actions/checkout@v3

    - name: Install Node.js, NPM and Yarn
      uses: actions/setup-node@v3
      with:
        node-version: 16

    - name: Build/release Electron app
      # uses: samuelmeuli/action-electron-builder@v1
      uses: johannesjo/action-electron-builder@v1
      with:
        github_token: ${{ secrets.github_token }}

        release: ${{ startsWith(github.ref, 'refs/tags/v') }}